.contentSection {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 720px) {
  .contentSection {
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
  }
  .contentSection svg {
    width: 150px;
    height: 150px;
  }
  .textContainer {
    max-width: 100%;
    transform: scale(0.85);
  }

  .warningText {
    font-size: 50px;
  }
  .headsUpText {
    font-size: 1px;
  }
}
.headsUpText {
  font-size: 30px;
  font-weight: 600;
  color: #434343;
}
.warningText {
  font-size: 20px;
  color: #434343;
 
}
.googleText {
  font-size: 14px;
  color: #434343;
}
.continueButton {
  background: #e89954 0% 0% no-repeat padding-box;
  border: none;
  color: #fff;
  padding: 10px 40px;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 30px;
}

.rightLip {
  transform-origin: 208px 119px;
  transition: transform 0.5s ease-in-out;
}
.leftLip {
  transform-origin: 208px 119px;
  transition: transform 0.5s ease-in-out;
}
.cat:hover .rightLip {
  transform: scale(1.5, 1.2) rotate(-7deg);
}

.cat:hover .leftLip {
  transform: scale(1.5, 1.2) rotate(-7deg);
}
