.icon {
  padding: 0 10px;
  stroke: black;
}
.homeIcon {
  padding: 0 10px;
  stroke: white;
}
.messagesIcon {
  padding: 0;
  background: none;
  border: none;
}
.profilePic {
  border-radius: 50%;
}
.imgContainer {
  width: 24px;
  height: 24px;
<<<<<<< HEAD
  display: inline-block;
  margin-left: 10px;
=======
>>>>>>> f95fe23 (Switch to image/next.js)
}
