.story-avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.circle {
  padding: 2px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    rgba(253, 208, 116, 1) 0%,
    rgba(247, 127, 52, 1) 25%,
    rgba(221, 50, 110, 1) 50%,
    rgba(221, 50, 110, 1) 75%,
    rgba(164, 50, 177, 1) 100%
  );
}
.story-avatar-username {
  margin: 0;
  text-align: center;
  color: #262626;
  display: block;
  font-size: 12px;
  line-height: 16px;
  max-width: 64px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 6px;
}
.story-user-avatar {
  border-radius: 50%;
  border: 2px solid white;
  width: 55px;
  height: 55px;
  background: white;
  display: block;
}
