.story-avatar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.circle {
  align-self: center;
  color: red;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(
    144deg,
    rgba(255, 0, 0, 1) 31%,
    rgba(255, 0, 155, 1) 55%
  );
}
.circle2 {
  border: 2px solid white;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin: 2.5px;
  background-color: white;
  overflow: hidden;
  display: block;
}
.story-avatar-username {
  margin: 0;
  text-align: center;
  color: #262626;
  display: block;
  font-size: 12px;
  line-height: 16px;
  max-width: 64px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 6px;
}
.story-user-avatar {
  border: 1px solid white;

}
