.post-img-container {
  position: fixed;
  top: 50px;
  left: 200px;
  width: 80%;
  height: 90%;
  display: flex ;
}
.user-info2 {
  flex: 1;
}

#card2 {
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.card-header2 {
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px;
}
.user-avatar2 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 5px;
}
.user-name2 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.user-location2 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: rgb(38, 38, 38);
}

.post-img2 {
  width: 65%;
}

.post-caption-pop-username {
  font-weight: bold;
  padding: 10px 10px;
}

.comment-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 15px;
}
.comment-user {
  font-weight: bold;
  display: flex;
}
.comment-section-comments {
  border-bottom: 1px solid #dbdbdb;
  max-height: 500px;
  overflow: auto;
}
.comment-section-comments::-webkit-scrollbar {
  display: none;
}
.close-button {
  position: absolute;
  top: -40px;
  right: -200px;
  background: none;
  border: none;
 
}
.liked-user-avatar {
  width: 24px;
  height: 22px;
  border-radius: 50%;
  margin: 0 15px;
}

.share-icon {
  margin: 0 13px;
}
.time {
  margin: 0 15px;
  margin-bottom: 20%;
}
.emoji {
  padding: 0 5px;
}
.comment-input-section {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.comment-input {
  width: 80%;
  background: none;
  border: none;
}
.post-button {
  background: none;
  border: none;
  color: #0095f6;
}
