.profilePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 975px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header {
  display: grid;
  grid-template-areas:
    'profile-img profile-img user-name cta options options'
    'profile-img profile-img n-posts n-followers n-following n-following'
    'profile-img profile-img bio bio bio bio';
  border-bottom: 1px solid #dbdbdb;
  grid-template-columns: repeat(6, 1fr);
}
.imgContainer {
  grid-area: profile-img;

  margin-right: 30px;
  display: flex;
  justify-content: center;
}
.userName {
  grid-area: user-name;
  margin: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
}

.buttonsContainer {
  grid-area: cta;
  display: flex;
  gap: 8px;
}
.messageButton,
.followButton,
.showMore {
  padding: 4px;
  align-self: flex-start;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  text-decoration: none;
  color: #262626;
  cursor: pointer;
  text-align: center;
}
.showMore {
  width: 34px;
}
.DownIcon {
  transform: rotate(180deg);
}
.threeDotsButton {
  grid-area: options;
  border: none;
  background: none;
  height: 28px;
  cursor: pointer;
  text-align: left;
}
.followButton {
  padding: 2px 13px;
  box-sizing: border-box;
  width: 74px;
  color: rgba(26, 26, 26, 0.8);
}
.messageButton {
  width: 75px;
}
.checkIcon {
  transform: scale(0.7);
  padding: 0;
  margin-left: -7px;
  color: rgba(26, 26, 26, 0.5);
}

.followingCount {
  grid-area: n-following;
  font-size: 16px;
  cursor: pointer;

  margin: 0;
}
.followersCount {
  grid-area: n-followers;
  border: 0;
  background: 0;
  font-size: 16px;
  padding: 0;
  align-self: flex-start;
  cursor: pointer;
  text-align: left;
}
.postCount {
  grid-area: n-posts;
  font-size: 16px;
  text-align: left;
  margin: 0;
}
.userInfo {
  margin: 0;
}
.userInfoAndBio {
  grid-area: bio;
  font-size: 16px;
}
.postVideosTagged {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}
.link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #8e8e8e;
  height: 52px;
}
.link svg {
  height: 12px;
  width: 12px;
}
.isSelected {
  color: #262626;
  border-top: 1px solid #262626;
}

.postImg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.postsSectionPost {
  display: flex;
}

.postHover {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 600;
  visibility: hidden;
}

.taggedPosts {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
}

.likeIconCount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.postContainer {
  text-decoration: none;
  display: block;
  aspect-ratio: 1;
}
.postContainer:hover .postHover {
  visibility: visible;
}
.emptyPostSection {
  display: flex;
}
.postsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  justify-content: space-between;
}

.emptyTaggedSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 285px;
  width: 935px;
}
.iconSection {
  border: 2px solid #262626;
  border-radius: 50%;
  padding: 8px;
}
.profileIcon {
  height: 42px;
  width: 42px;
  color: rgba(26, 26, 26, 0.6);
}
.noPhotos {
  font-size: 28px;
  font-weight: 300;
}
.followersSection {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.followersButton {
  border: 1px solid transparent;
  width: 61px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  background-color: #0095f6;
  font-weight: 600;
  font-size: 14px;
}

.dialogTitle {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  height: 33px;
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #262626;
  padding: 5px !important;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  margin-bottom: 8px;
}

.followersUserName {
  font-weight: 600;
  margin: 0;
}
.followersFullName {
  margin: 0;
}
.followersText {
  margin: 0;
}
.emptyDiv {
  width: 35px;
}
.clearButton {
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}
.clearIcon {
  margin-right: 12px;
}
.profileSectionLabel {
  text-transform: uppercase;
}
@media screen and (max-width: 735px) {
  .header {
    display: grid;
    grid-template-areas:
      'profile-img profile-img user-name user-name user-name options '
      'profile-img profile-img cta cta cta cta'
      'bio bio bio bio bio bio'
      'n-posts n-posts  n-followers n-followers n-following n-following';
    border-bottom: 1px solid #dbdbdb;
    grid-template-columns: repeat(6, 1fr);
  }
  .followingCount {
    text-align: center;
    box-sizing: border-box;
  }
  .followersCount {
    text-align: center;
    box-sizing: border-box;
  }
  .postCount {
    text-align: center;
    box-sizing: border-box;
  }
  .postCount strong,
  .followingCount strong,
  .followersCount strong {
    display: block;
  }
  .postCount,
  .followingCount,
  .followersCount {
    padding: 8px;
    margin-top: 12px;
    border-top: 1px solid #dbdbdb;
  }
  .profilePage {
    padding: 0;
  }
  .userInfoAndBio {
    padding: 0 16px;
  }
  .profileSectionLabel {
    display: none;
  }
  .link.isSelected {
    color: rgb(0, 149, 246);
    border-top: none;
  }
  .link svg {
    height: 24px;
    width: 24px;
  }
  .postVideosTagged {
    justify-content: space-between;
    gap: 0;
    padding: 0 50px;
    box-sizing: border-box;
  }
}
.followerInfo {
  flex: 1;
}
