.postImg {
  display: block;
  width: 100%;
  object-fit: fill;
  grid-area: center;
}
.likeIconContainer {
  grid-area: center;
  text-align: center;
}
.imgContainer {
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  grid-template-areas: 'center';
}
.likeIcon {
  color: #fff;
  align-self: center;
  animation: scale 1s ease-in-out;
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
.postImg {
  background: linear-gradient(120deg, #efefef 30%, white 40%, #efefef 50%);
  background-size: 100% 600%;
  animation: loading 2.5s ease-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 97%;
  }
}
