.postImg {
  display: block;
  width: 100%;
  object-fit: fill;
  grid-area: center;
}
.likeIconContainer {
  grid-area: center;
  text-align: center;
}
.imgContainer {
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  grid-template-areas: 'center';
  position: relative;
}

.likeIcon {
  color: #fff;
  align-self: center;
  animation: scale 1s ease-in-out;
}
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    transform: scale(1.2);
  }
  30% {
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    transform: scale(1);
  }
}
.postImg {
  background: linear-gradient(120deg, #efefef 30%, white 40%, #efefef 50%);
  background-size: 100% 600%;
  animation: loading 2.5s ease-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 97%;
  }
}
.tooltip {
  position: absolute;
  z-index: 5;
}
.tagIconContainer {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 28px;
  height: 28px;
  background-color: #262626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.taggedContent {
  opacity: 0.85;
}
.taggedContent:active {
  opacity: 0.5;
}
.taggedUserName {
  background-color: rgb(0, 0, 0);
  font-weight: 600;
  line-height: 36px;
  color: #fff;
  padding: 0 12px;
  border-radius: 4px;
  margin: 0;
  border: 0;
}
.taggedUserLink {
  text-decoration: none;
  color: #fff;
}
.emptyArrow {
  margin-bottom: -13px;
}

.arrow {
  height: 15px;
  margin: auto;
  transform: rotate(45deg);
  width: 15px;
  background-color: rgb(0, 0, 0);
}
.tagIconContainer.isVisible {
  opacity: 1;
  animation: hide 0.2s linear forwards;
  animation-delay: 3s;
}
.tagIconContainer.isClicked {
  animation: none;
  opacity: 1;
}

@keyframes hide {
  100% {
    opacity: 0;
  }
}
