.postImg {
  display: block;
  width: 100%;
  object-fit: fill;
  grid-area: center;
}
.likeIconContainer {
  grid-area: center;
  text-align: center;
}
.imgContainer {
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  grid-template-areas: 'center';
}
.likeIcon {
  color: #fff;
  transform: scale(3.5);
  align-self: center;
  animation: scale 1.5s ease-out;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }

  55% {
    transform: scale(4.5);
  }
  59% {
    transform: scale(5.5);
  }
  65% {
    transform: scale(4.5);
  }
  75% {
    transform: scale(4.5);
  }
  85% {
    transform: scale(4.5);
  }
  95% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(0);
  }
}
.postImg {
  background: linear-gradient(120deg, #efefef 30%, white 40%, #efefef 50%);
  background-size: 100% 600%;
  animation: loading 2.5s ease-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 97%;
  }
}
