.post-content {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: white;
  display: grid;
  grid-template-areas:
    'header'
    'img'
    'actions'
    'likes'
    'caption'
    'comments'
    'time'
    'input';
}
.post-content.is-expanded {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'img header'
  
    'img comments'
    'img actions'
    'img likes'
    'img time'
    'img input';
  max-width: 1200px;
  max-height: 600px;
}

section.post-header {
  grid-area: header;
}
.post-header {
  display: flex;
  padding: 14px 4px 14px 16px;
  margin: 0;
  border-bottom: 1px solid #dbdbdb;
  box-sizing: border-box;
  gap: 10px;
}
.more-icon {
  align-self: center;
  padding-right: 15px;
}

.user-info {
  padding-left: 4px;
  flex: 1;
  justify-content: center;
  align-self: center;
}
.user-name {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.user-location {
  padding-top: 2px;
  margin: 0;
  font-size: 10px;
  color: rgb(38, 38, 38);
}

section.img-container {
  grid-area: img;
}

section.post-actions {
  grid-area: actions;
  padding: 6px 16px 8px 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
section.post-actions.is-expanded {
  padding: 0px 15px 8px 15px;
  margin: 0;
  box-sizing: border-box;
}

section.like-count {
  grid-area: likes;
  padding: 0px 15px;
  margin-bottom: 3px;
}

section.post-caption-section {
  grid-area: caption;
  padding: 4px 15px;
  display: flex;
  gap: 15px;
}
.post-caption-section.is-expanded {
  padding: 0;
  padding-top: 15px;
  margin: 0;
}
section.comments-section {
  grid-area: comments;
  overflow-y: auto;
  max-height: 310px;
  padding: 0 15px;
}
section.comments-section.is-expanded {
  border-bottom: 1px solid #dbdbdb;
}
section.post-time-section {
  grid-area: time;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0;
}

section.comment-input-section {
  grid-area: input;
}
.comment-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 3px 0;
}

.comment-wrapper.is-expanded {
  margin: 15px 0;
}
.comment-text {
  margin: 2px 0;
}
.post-content.post-content.is-expanded .comment-text {
  margin: 0;
}
.comment-action {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  background: none;
  border: none;
  padding: 0;
  color: #8e8e8e;
  margin-right: 12px;
  vertical-align: baseline;
  margin-top: 12px;
  display: inline-block;
}
.comment-body {
  flex: 1;
}
.post-overlay.is-floating {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.like-share-telegram-icons {
  flex: 1;
}
.save-icon {
  align-items: center;
}
.comment-icon {
  padding: 0 15px;
}
.comment-input-section {
  margin-top: 5px;
  border-top: 1px solid #dbdbdb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
.comment-input {
  width: 100%;
  border: none;
  background: none;
  padding-left: 20px;
}
.post-button {
  background: none;
  border: none;
  color: #0095f6;
}

.post-img {
  width: 600px;
  display: block;
}
.post-like-button {
  background: none;
  border: none;
  padding: 0;
}
.post-comment-input {
  flex: 1;
  display: flex;
}
.post-time {
  color: #8e8e8e;
  margin-top: 3px;
  font-size: 12px;
}
.post-time.is-expanded {
  margin: 0;
}

.view-comments-button {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: #8e8e8e;
  text-decoration: none;
  margin: 0;
}
.post-caption-text {
  margin: 0;
}
