.card-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#card {
  margin-bottom: 50px;
  max-width: 614px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.card-header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 7px;
}
.user-name {
  font-size: 1rem;
  margin: 0;
  font-weight: 600;
}
.user-info {
  margin-left: 8px;
  flex: 1;

}
.user-location {
  margin: 0;
  font-size: 12px;
  color: rgb(38, 38, 38);
}

.post-img {
  height: 614px;
  width: 614px;
}
.post-caption-section {
  padding: 1rem;
}
.like-count {
  margin-bottom: 2%;
  font-weight: 800;
}
.comment-section {
    display: flex;
}
.comment-user {
    font-weight: bold;
}
.comment-text {
    margin-left: 5px;
}
.view-comments-button {
  border: none;
  background: none;
  opacity: 0.5;
  font-size: 15px;
  cursor: pointer;
}
