.navContainer {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;

  z-index: 2;
  top: 0;
  height: 60px;
}
.navTitle {
  flex: 0.5;
  filter: blur(0.4px);
}
.navContent {
  display: flex;
  margin: 7px auto;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  max-width: 975px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.InstagramLogoImg {
  box-sizing: border-box;
}
.searchInput {
  width: 268px;
  height: 36px;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #efefef;
  border: 0;
}
.searchIcon {
  width: 16px;
  color: #bebfc1;
}

.searchPlaceholder {
  width: 268px;
  height: 36px;
  border-radius: 8px;
  background: none;
  display: flex;
  align-items: center;
  color: #8e8e8e;
  gap: 2px;
  background-color: #efefef;
  border: 0;
}
.inputSection {
  display: flex;
  align-content: center;
  justify-content: center;
}
.cancelIcon {
  color: rgba(38, 38, 38, 0.3);
  margin-left: -30px;
  margin-top: 7px;
  transform: scale(0.8);
}
