.navContainer {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  z-index: 2;
  top: 0px;
  height: 60px;
}
.mobileTopNavContainer {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  left: 0;
  z-index: 2;
  top: 0px;
  padding: 1px;
}
.mobileBottomNavContainer {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #dbdbdb;
  position: fixed;
  left: 0;
  z-index: 2;
  bottom: 0;
  top: auto;
  height: 44px;
}
.navTitle {
  min-width: 109px;
  height: 39px;
}

.navContent {
  display: flex;
  margin: 7px auto;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  max-width: 975px;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}
.mobileNavContent {
  display: flex;
  margin: 7px auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.InstagramLogoImg {
  box-sizing: border-box;
}
.searchInput {
  width: 268px;
  height: 36px;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #efefef;
  border: 0;
}
.searchIcon {
  padding: 0 5px;
}

.searchPlaceholder {
  width: 268px;
  height: 36px;
  border-radius: 8px;
  background: none;
  display: flex;
  align-items: center;
  color: #8e8e8e;
  gap: 2px;
  background-color: #efefef;
  border: 0;
  padding: 0 10px;
  font-size: 16px;
}
.inputSection {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0 16px;
}
.cancelIcon {
  color: rgb(199, 199, 199);
  margin-left: -30px;
  margin-top: 7px;
  transform: scale(0.8);
}
.mobileIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobileIcons * {
  margin-top: 5px;
}
.placeholderText {
  color: rgb(142, 142, 142);
  font-weight: 200;
}
.inputMain {
  margin-left: 10%;
}
.navIcons {
  min-width: 250px;
}
.limitedNavBar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: flex-start;
  border-bottom: 1px solid #dbdbdb;
}
.limitedNavBar h1 {
  font-size: 14px;
  margin: 0;
}
@media screen and (min-width: 735px) {
  .hideOnDesktop {
    display: none;
  }
}
@media screen and (max-width: 735px) {
  .hideOnMobile {
    display: none;
  }
}
