.postVideo {
  display: block;
  width: 100%;
  grid-area: center;
}
.playIconContainer {
  grid-area: center;
  text-align: center;
}
.playIcon {
  color: #fff;
  transform: scale(3.5);
}
.videoContainer {
  display: grid;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-areas: 'center';
  height: 100%;
}
.videoContainer.isLoading {
  background: linear-gradient(120deg, #efefef 30%, white 40%, #efefef 50%);
  background-size: 100% 600%;
  animation: loading 2.5s ease-out infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 100% 97%;
  }
}
