.content {
  max-width: 975px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.leftSide {
  max-width: 100%;
  width: 614px;
  margin: 0 auto;
}
.content {
  display: flex;
}

.rightSide {
  margin-top: 35px;
  padding-left: 28px;
  width: 321px;
}
@media screen and (max-width: 1000px) {
  .rightSide {
    display: none;
  }
}
.fixedContent {
  position: fixed;
  width: 289px;
}
.noMoreText {
  text-align: center;
  color: #262626;
  font-size: 1rem;
}
