.content {
  max-width: 975px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
.leftSide {
  max-width: 100%;
  width: 614px;
  margin: 0 auto;
}
.content {
  display: flex;
}

.rightSide {
  /* 54px is the navbar's height + some nice margin */
  margin-top: calc(54px + 33px);
  padding-left: 16px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .rightSide {
    display: none;
  }
}
.fixedContent {
  position: fixed;
}
.noMoreText {
  text-align: center;
  color: #262626;
  font-size: 1rem;
}
