.stories-avatars-container {
  width: 614px;
  margin: 30px auto 0;
  border: 1px solid #dbdbdb;
  margin-top: 85px;
  border-radius: 3px;
}
.stories-overflow {
  overflow: hidden;
}
.story-nav-prev {
  position: absolute;
  top: 0;
  margin: 135px auto;
  margin-left: 10px;
}

.story-nav-next {
  position: absolute;
  top: 0;
  margin: 135px auto;
  margin-left: 560px;
}
.all-circles {
  width: max-content;
  justify-self: center;
  display: flex;
  background-color: white;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  transition: transform 0.5s ease-out;
}
.all-circles::-webkit-scrollbar {
  display: none;
}

.story-nav-prev,
.story-nav-next {
  padding: 0;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  border: none;
  background: transparent;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.28);
}
.story-nav-next.hidden,
.story-nav-prev.hidden {
  visibility: hidden;
}
.story-avatar-username {
  margin: 0;
  text-align: center;
  color: #262626;
  display: block;
  font-size: 12px;
  line-height: 16px;
  max-width: 64px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 6px;
  text-decoration: none;
  cursor: pointer;
}