.stories-container {
  width: 600px;
  margin: 30px auto 0;
  border: 1px solid #dbdbdb;
  margin-top: 85px;
}
.stories-overflow {
  overflow: hidden;

}
.story-nav-prev {
  position: absolute;
  top: 0;
  margin: 135px auto;
  margin-left: 10px;
}
.story-nav-next {
  position: absolute;
  top: 0;
  margin: 135px auto;
  margin-left: 560px;
}
.all-circles {
  width: max-content;
  justify-self: center;
  display: flex;
  background-color: white;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  transition: transform 0.5s ease-out;

}
.all-circles::-webkit-scrollbar {
  display: none;
}

.story-nav-prev,
.story-nav-next {
  padding: 0;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  background-color: white;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.22);
}
.story-nav-prev {
  justify-self: flex-start;
}
.story-nav-next.hidden,
.story-nav-prev.hidden {
  visibility: hidden;
}
.story-nav-next {
  justify-self: flex-end;
}
