html {
  background-color: #fff;
}
.navContainer {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  margin-bottom: 20px;
  z-index: 2;
  top: 0;
}
.navTitle {
  margin-top: 7px;
  flex: 0.5;
}
.navContent {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  height: 53px;
  max-width: 975px;
  width: 100%;
}

.InstagramLogoImg {
  box-sizing: border-box;
}
.searchInputSection {
  background-color: #fafafa;
  margin-bottom: 10px;
  width: 300px;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
}
.searchIcon {
  width: 16px;
  color: #bebfc1;
}
.clearIcon path {
  fill: #fafafa;
}
.clearIcon {
  background: rgba(142, 142, 142, 0.5);
  border-radius: 50%;
  width: 14px !important;
  height: 14px !important;
  cursor: default;
}
.clearButton {
  padding: 0 !important;
}
