.postContent {
  margin: 20px auto;
  background: #fff;
  display: grid;
  grid-template-areas:
    'header'
    'media'
    'progress'
    'actions'
    'likes'
    'caption'
    'comments'
    'time'
    'input';
  max-width: 100%;
  border: 1px solid #efefef;
  border-radius: 3px;
}
.postContent.isExpanded:not(.isFloating) {
  grid-template-columns: minmax(345px, max-content) minmax(200px, 335px);
  grid-template-rows: 1fr;
  grid-template-areas:
    'media header'
    'media comments'
    'media actions'
    'media likes'
    'media time'
    'media input'
    'progress input';
  max-height: 600px;
  width: max-content;
  max-width: calc(100% - 40px);
  margin: 90px auto;
}
.postContent.isFloating {
  grid-template-columns: minmax(300px, 1fr) minmax(200px, 500px);
  grid-template-rows: 1fr;
  grid-template-areas:
    'media header'
    'media comments'
    'media actions'
    'media likes'
    'media time'
    'media input'
    'progress input';

  max-width: calc(100vw - 100px);
  min-height: 467px;
  /* for border radius */
  overflow: hidden;
  border-radius: 8px;
  border: 0;
}
@media screen and (max-width: 1300px) {
  .postContent.isFloating {
    height: 70vw;
  }
}
@media screen and (max-width: 735px) {
  .postContent.isExpanded:not(.isFloating) {
    border-radius: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'header'
      'media'
      'progress'
      'actions'
      'likes'
      'time';
    max-height: unset;
    max-width: unset;
    padding-bottom: 15px;
    min-height: 55vh;
    min-width: 335px;
    border: 0;
  }

  .postContent.isExpanded .progressDot.isActive {
    background-color: rgb(0, 149, 246);
  }
  .postContent.isExpanded .progressDot {
    background-color: rgb(168, 168, 168);
  }
  .postContent.isExpanded .progressDotsSection {
    margin-top: 8px;
    margin-bottom: -20px;
  }

  .postContent.isExpanded.isFloating {
    border-radius: 8px;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'media'
      'progress'
      'actions'
      'likes'
      'time';

    padding-bottom: 15px;
    min-width: 335px;
    max-width: min-content;
    border: 0;
  }
  .postContent:not(.onlyComments) section.commentsSection.isExpanded {
    display: none;
  }
  .postContent:not(.onlyComments) section.commentInputSection {
    display: none;
  }
  /* only comments mode on mobile */
  .postContent.isExpanded.onlyComments {
    width: 100vw;
    margin: 0;
    max-width: unset;
    max-height: unset !important;
    max-width: unset;
    overflow: auto;
    height: min-content;
    align-items: flex-start;
    grid-template-areas:
      'input'
      'caption'
      'time'
      'comments';
    grid-template-rows: repeat(4, min-content);
  }
  .postContent.isExpanded.onlyComments .postHeader,
  .postContent.isExpanded.onlyComments .mediaSection,
  .postContent.isExpanded.onlyComments .postActions,
  .postContent.isExpanded.onlyComments .likeCount {
    display: none;
  }
  .postContent.isExpanded.onlyComments .postTimeSection {
    border-bottom: 1px solid #efefef;
    margin: 0 10px;
    padding: 15px 52px;
    box-sizing: border-box;
  }
  .postContent.isExpanded.onlyComments section.commentInputSection {
    gap: 10px;
    background-color: #efefef;
    padding: 10px;
    margin-top: 40px;
  }
  .postContent.isExpanded.onlyComments
    section.commentInputSection
    .postCommentInput {
    background-color: #fff;
    border-radius: 20px;
    padding: 12px 16px;
    border: 1px solid rgb(219, 219, 219);
  }
}

section.postHeader {
  grid-area: header;
  box-sizing: border-box;
}
.postHeader {
  display: flex;
  padding: 14px 4px 14px 16px;
  margin: 0;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  gap: 10px;
  max-height: 60px;
}
.postHeaderProfilePic.isExpanded {
  margin: 9px 0 5px 12px;
}
.postHeader.isExpanded {
  padding: 0;
}
.moreIcon {
  align-self: center;
  padding-right: 15px;
}

.userInfo {
  padding-left: 4px;
  flex: 1;
  justify-content: center;
  align-self: center;
}
.userName {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #262626;
}
.userLocation {
  padding-top: 2px;
  margin: 0;
  font-size: 10px;
  color: rgb(38, 38, 38);
}

section.mediaSection {
  /* we need position: relative to make the navigation buttons absolute in relation to parent */
  position: relative;
  grid-area: media;
  overflow: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  flex: none;
  flex-flow: row nowrap;
  height: 100%;
  align-items: center;
  background-color: #262626;
  width: 100%;
  scroll-behavior: smooth;
}

section.mediaSection > :first-child {
  transition: margin-left 0.5s ease-in-out;
}

section.mediaSection::-webkit-scrollbar {
  display: none;
}

section.mediaSection > * {
  width: 100%;
  scroll-snap-align: center;
  flex: none;
}

section.progressDotsSection {
  grid-area: progress;
}
section.postActions {
  grid-area: actions;
  padding: 6px 16px 8px 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
section.postActions.isExpanded {
  padding: 8px 15px;
  margin: 0;
  box-sizing: border-box;
}

section.likeCount {
  grid-area: likes;
  padding: 0px 15px;
  padding-bottom: 3px;
}

section.postCaptionSection {
  grid-area: caption;
  padding: 4px 15px;
  display: flex;
  gap: 15px;
}
.postCaptionSection.isExpanded {
  padding: 0;
  padding-top: 15px;
  margin: 0;
}
section.commentsSection {
  grid-area: comments;
  overflow-y: auto;
  padding: 0 15px;
}
section.commentsSection.isExpanded {
  border-bottom: 1px solid #efefef;
}
section.commentsSection.isExpanded::-webkit-scrollbar {
  visibility: hidden;
}

section.postTimeSection {
  grid-area: time;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0;
}

section.commentInputSection {
  grid-area: input;
}
.commentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin: 3px 0;
}

.commentWrapper.isExpanded {
  margin: 15px 0;
  display: block;
}
.commentWrapper.isExpanded:hover .threeDotsButton {
  visibility: visible;
}
.commentText {
  margin: 2px 0;
  flex: 1;
}
.postContent.postContent.isExpanded .commentText {
  margin: 0;
}
.commentAction {
  font-size: 12px;
  line-height: 16px;
  background: none;
  border: none;
  padding: 0;
  color: #8e8e8e;
  margin: 8px 12px 4px 0;
  vertical-align: baseline;
  display: inline-block;
}
.commentActionContainer {
  box-sizing: border-box;
  padding-left: 47px;
}
.commentBody {
  gap: 15px;
  flex: 1;
  display: flex;
}
.postOverlay.isFloating {
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.likeShareTelegramIcons {
  flex: 1;
  gap: 15px;
  display: flex;
}
.likeIcon {
  fill: white;
  stroke-width: 3px;
  stroke: #262626;
  transform: scale(1);
}
.likeIcon:hover {
  stroke: #8e8e8e;
}
.likeIcon.isLiked {
  fill: #ed4956;
  stroke-width: 0px;
  transform-origin: center;
  animation: scale-out 0.2s ease-in;
}
@keyframes scale-out {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.saveIcon {
  align-items: center;
}

.actionIcon:hover {
  cursor: pointer;
  fill: #8e8e8e;
}
.actionIcons:hover {
  cursor: pointer;
  fill: #8e8e8e;
}
.commentInputSection {
  margin-top: 5px;
  border-top: 1px solid #efefef;
  width: 100%;
  display: flex;

  justify-content: space-between;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}
.commentInputSection.isExpanded {
  margin: 0;
  padding-top: 15px;
  box-sizing: border-box;
}
.emoji {
  align-self: center;
  margin-left: 5px;
}
.commentInput {
  width: 100%;
  border: 0;
  background: none;
  padding-left: 20px;
  outline: none;
}
.commentInput::placeholder {
  color: #8e8e8e;
  font-size: 14px;
}
.postButton {
  background: none;
  border: none;
  color: rgba(0, 149, 246, 1);
}

.postButton:disabled {
  opacity: 0.3;
}

.postVideoContainer {
  justify-content: center;
  display: flex;
}

.postLikeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.postCommentInput {
  flex: 1;
  display: flex;
}
.postTime {
  color: #8e8e8e;
  margin-top: 3px;
  font-size: 12px;
}
.postTime.isExpanded {
  margin: 0;
}

.viewCommentsButton {
  border: none;
  background: none;
  font-size: 15px;
  cursor: pointer;
  color: #8e8e8e;
  text-decoration: none;
  margin: 0;
}
.postCaptionText {
  margin: 0;
}
.viewRepliesButton {
  background: none;
  border: none;
  font-weight: 600;
  color: #8e8e8e;
  cursor: pointer;
  font-size: 12px;
}
.viewRepliesLine {
  border-bottom: 1px solid #8e8e8e;
  display: inline-block;
  height: 0;
  margin-right: 16px;
  vertical-align: middle;
  width: 24px;
}
.replierInfo {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  padding: 12px 0;
  overflow: visible;
  width: auto;
}
.replierUsernameText {
  flex: 1;
  margin: 2px;
}
.replyLikeIcon {
  margin-right: -80px;
  align-self: center;
}
.replyPostDate {
  margin-left: 50px;
  margin-right: 10px;
  color: #8e8e8e;
  font-size: 12px;
}
.replyAction {
  background: none;
  border: none;
  font-weight: bold;
  color: #8e8e8e;
  padding: 0;
  margin-right: 12px;
  font-size: 12px;
}
.viewRepliesSection {
  box-sizing: border-box;
  padding-left: 47px;
  margin: 10px 0;
}
.threeDotsButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  visibility: hidden;
  padding-right: 15px;
  vertical-align: middle;
}
.commentUsername {
  font-weight: 600;
}
.commentUsername:hover {
  text-decoration: underline;
  cursor: pointer;
}
.imgButtonsContainer {
  position: sticky;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  padding: 0 5px;
  box-sizing: border-box;
}
.nextImgButton,
.prevImgButton {
  padding: 0;
  margin: 8px;
  border-radius: 50%;
  height: 23px;
  width: 23px;
  border: none;
  background: transparent;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0.8;
}
.nextImgButton:hover,
.prevImgButton:hover {
  opacity: 1;
}

.nextImgButton.hidden,
.prevImgButton.hidden {
  visibility: hidden;
}
.nextImgButton svg,
.prevImgButton svg {
  opacity: 0.7;
}
.progressDotsSection {
  margin-top: 8px;
  margin-bottom: -20px;
}
.progressDots {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.progressDotsSection.isExpanded {
  margin: 0;
  margin-top: -20px;
  z-index: 2;
}
.progressDot {
  height: 6px;
  width: 6px;
  background: rgb(168, 168, 168);
  border-radius: 50%;
}
.progressDot.isActive {
  background-color: rgb(0, 149, 246);
}

.progressDot.isExpanded {
  background-color: rgba(255, 255, 255, 0.4);
}
.progressDot.isExpanded.isActive {
  background-color: #fff;
}
