@import url("https://fonts.googleapis.com/css2?family=Festive&family=Zen+Kurenaido&display=swap");

html {
  background-color: #1f1f1f;
}
.all-stories-container {
  background-color: #1f1f1f;
  overflow: hidden;
}
.stories-scrollable {
  display: flex;
  padding-left: 100vw;
  transition: transform 0.5s ease-in-out;
}
.stories-container {
  margin: 20px auto;
  height: 800px;
  min-width: 449px;
  border-radius: 8px;
  margin-left: 50px;
}
.stories-container.is-small {
  transform: scale(0.4);
}

.instagram-logo-link {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 2em;
  color: white;
  text-decoration: none;
  font-family: "Festive", cursive !important;
  margin: 0;
}

.exit-icon-link {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 20px;
}
.story-header {
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr;

  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0.8) 0%,
    rgba(38, 38, 38, 0) 100%
  );
  padding: 10px;
  height: 100px;
  margin-bottom: -100px;
  z-index: 2;
  position: relative;
}

.progress-bars {
  grid-column: 1 / 5;
  display: flex;
  gap: 2px;
  margin-top: 10px;
  margin-bottom: -40px;
}
.progress-bar {
  background: rgba(255, 255, 255, 0.35);
  height: 2px;
  flex: 1;
  border-radius: 2px;
}
.progress-bar-core {
  height: 2px;
  background: white;
  transition: width 200ms linear;
}
.story-username {
  align-self: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.story-post-time {
  display: flex;
  align-self: center;
  font-weight: 100;
  box-sizing: border-box;
}
.story-actions {
  justify-self: flex-end;
}
.story-actions button {
  color: white;
}
.next-prev-buttons {
  position: relative;
  top: -50%;
  z-index: 20;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "left right";
  width: 500px;
  opacity: 0.2;
}
.story-body.is-small {
  opacity: 0.2;
}
.next-button,
.prev-button {
  border-radius: 50%;
  border: 0;
  display: flex;
  color: #1f1f1f;
  padding: 3px;
}
.prev-button {
  grid-area: left;
  width: min-content;
  margin-left: -50px;
}
.next-button {
  grid-area: right;
  width: min-content;
  justify-self: flex-end;
}

.story-footer {
  z-index: 2;
  position: relative;
  margin-top: -184px;
  display: flex;
  justify-content: center;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0) 0%,
    rgba(38, 38, 38, 0.6) 100%
  );
}

.story-reply-input {
  width: 85%;
  border: 1px solid white;
  border-radius: 22px;
  height: 44px;
  padding-left: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  align-self: flex-end;
  background: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
::-webkit-input-placeholder {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  max-width: 110px;
}
.direct-story-icon {
  align-self: flex-end;
  margin-bottom: 20px;
  padding: 0 5px 0 15px;
}

#user-avatar-small {
  position: absolute;
  top: 280%;
  right: 45%;
  transform: scale(2.5);
}
.story-username.is-small {
  position: absolute;
  top: 420%;
  transform: scale(2.5);
  right: 43%;
  display: block;
  line-height: 16px;
  max-width: 75px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.story-post-time.is-small {
  position: absolute;
  top: 470%;
  right: 50%;
  transform: scale(2);
}