@import url('https://fonts.googleapis.com/css2?family=Festive&family=Zen+Kurenaido&display=swap');

html {
  background-color: #1f1f1f;
}
.all-stories-container {
  background-color: #1f1f1f;
  overflow: hidden;
}
.stories-scrollable {
  display: flex;
  padding-left: 50vw;
  transition: transform 0.5s ease-in-out;
}
.stories-container {
  margin: 70px auto;
  height: 800px;
  min-width: 449px;
  border-radius: 8px;
  margin-left: 50px;
}

.instagram-logo-link {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 2em;
  color: white;
  text-decoration: none;
  font-family: 'Festive', cursive !important;
  margin: 0;
  z-index: 2;
}

.exit-icon-link {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding: 20px;
  z-index: 3;
  cursor: pointer;
}
.story-header {
  box-sizing: border-box;
  color: white;
  display: grid;
  grid-template-columns: min-content min-content min-content 1fr;

  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0.8) 0%,
    rgba(38, 38, 38, 0) 100%
  );
  padding: 10px;
  height: 100px;
  margin-bottom: -100px;
  z-index: 2;
  position: relative;
  animation: fade-in 0.7s ease-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
.story-header.is-small {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -800px;
  background: none;
  animation: none;
}
.progress-bars {
  grid-column: 1 / 6;
  display: flex;
  gap: 2px;
  margin-top: 10px;
  margin-bottom: -40px;
}
.progress-bar {
  background: rgba(255, 255, 255, 0.35);
  height: 2px;
  flex: 1;
  border-radius: 2px;
}
.progress-bar-core {
  height: 2px;
  background: white;
  transition: width 200ms linear;
}
.story-username {
  align-self: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.story-post-time {
  display: flex;
  align-self: center;
  font-weight: 100;
  box-sizing: border-box;
}
.story-post-time.is-small {
  margin: 0;
}
.story-actions {
  justify-self: flex-end;
  align-self: center;
}
.story-actions button {
  color: white;
}
.next-prev-buttons {
  position: relative;
  top: -50%;
  z-index: 20;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'left right';
  width: 500px;
  opacity: 0.2;
}
.story-body {
  transition: transform 0.5s ease-out;
  border-radius: 8px;
  overflow: hidden;
}
.story-body.is-small {
  transform: scale(0.4);
  opacity: 0.2;
  border-radius: 20px;
}
.next-button,
.prev-button {
  border-radius: 50%;
  border: 0;
  display: flex;
  color: #1f1f1f;
  padding: 3px;
}
.prev-button {
  grid-area: left;
  width: min-content;
  margin-left: -50px;
}
.next-button {
  grid-area: right;
  width: min-content;
  justify-self: flex-end;
}

.story-footer {
  z-index: 2;
  position: relative;
  margin-top: -184px;
  display: flex;
  justify-content: center;
  animation: fade-in 0.6s ease-out;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 0) 0%,
    rgba(38, 38, 38, 0.6) 100%
  );
}

.story-reply-input {
  width: 85%;
  border: 1px solid white;
  border-radius: 22px;
  height: 44px;
  padding-left: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  align-self: flex-end;
  background: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
 
}
::-webkit-input-placeholder {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  max-width: 110px;
}
.direct-story-icon {
  align-self: flex-end;
  margin-bottom: 20px;
  padding: 0 5px 0 15px;
}
.loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background-color: #1f1f1f;
}