@import url('https://fonts.googleapis.com/css2?family=Festive&family=Zen+Kurenaido&display=swap');

html {
  background-color: #fafafa;
}
body {
  background-color: #fafafa;
  margin: 0;
  font-size: 14px;
  color: #262626;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
strong {
  font-weight: 600;
}
body,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
.suggestion-section {
  position: fixed;
  top: 25%;
  left: 66%;
  height: 100vh;
  width: 293px;
  color: black;
}
.suggestion-text-see-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestion-text {
  color: #8e8e8e;
  font-weight: 600;
}
.see-all-button {
  border: 0;
  background: none;
  font-weight: 600;
  color: #262626;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}
.suggestion-content-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.suggestion-content {
  display: flex;
}
.suggestion-user-name-reason {
  flex: 1;
}

.suggestion-user-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
.suggestion-user-name {
  font-weight: 600;
  margin: 0;
  margin-left: 12px;
}
.suggestion-reason {
  margin: 0;
  margin-left: 12px;
  margin-top: 8px;
  color: #8e8e8e;
  font-weight: 400;
  font-size: 12px;
  max-width: 195px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.suggestion-follow-button {
  border: 0;
  background: 0;
  color: #0095f6;
  padding: 0;
  cursor: pointer;
}
