@import url('https://fonts.googleapis.com/css2?family=Festive&family=Zen+Kurenaido&display=swap');

html {
  background-color: #fafafa;
}
body {
  background-color: #fafafa;
  margin: 0;
  font-size: 14px;
  color: #262626;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
strong {
  font-weight: 600;
}
body,
button,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}
.MuiPaper-root {
  border-radius: 12px;
  height: 400px;
  width: 400px;
}
.MuiDialogContent-root {
  padding: 0 20px;
}

.loading-bar {
  height: 3px;
  position: fixed;
  top: 0;
  z-index: 3;
  animation: spread 1.5s ease-out;
}
@keyframes spread {
  0% {
    width: 1%;
    background: #a432b1;
  }
  30% {
    width: 30%;
    background: #fdd074;
  }
  50% {
    width: 50%;
    background: #fd1d1d;
  }
  70% {
    width: 70%;
    background: #dd326e;
  }
  100% {
    width: 100%;
    background: #a432b1;
  }
}
